html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #41295a, #2f0743); 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div .card {
  background: transparent;
  margin-bottom: 4%;
  border: none;
  color: white;
}
div .card:hover {
  background:  black;
  border-radius: 10px;
}

div .card-body {
  
  border: 2px solid black;
  border-radius: 10px;
}

div .card-title span {
  font-size: 12px;
  margin-left: 3%;
}
div .card-text {
  text-align: justify;

}


/* NavBar */